/* Base */

* {
	text-decoration: none;
	font-weight: 500 !important;	
	outline: 0px;
	color: #2A3F49;
}

html {
	background: #FFFFFF;
	margin: 0 auto;
	overflow: hidden;
}

body { 
	font-family: "Adobe Garamond Pro", "sans-serif";
	margin: 0 auto;
	padding: 0;
	top: 0px;
	width: 100%;
}

#bordertop {
	background: #FFFFFF;
	position: fixed;
	height: 90px;
	width: 100%;
	top: 0px;
}

#borderbot {
	background: #FFFFFF;
	position: fixed;
	height: 90px;
	width: 100%;
	top: calc(100% - 90px);
}

::selection {
	background: rgba(26, 163, 154, 0.5);
}

::-moz-selection {
	background: rgba(26, 163, 154, 0.5);
}


/* Header */

#header {
	position: fixed;
	top: 50px;
	left: 80px;
	z-index: 9;
}

#header a {
	font-weight: 600 !important;
	font-size: 50px;
}

#links {
	background: #FFFFFF;
	position: absolute;
	top: 50px;
	right: 80px;
	text-align: right;
	line-height: 46px;
	font-size: 28px;
}

#links a {
	cursor: pointer;
}


/* Feeds */

.feed {
	position: absolute;
	background: #F6F6F3;
	padding: 30px;
	font-size: 22px;
	line-height: 32px;
	top: 170px;
	left: 370px;
	height: calc(100vh - 400px);
	overflow: hidden;
	width: calc(100vw - 800px);
}

.rss-item {
	margin-bottom: 32px;
	list-style-type: cjk-ideographic !important;
}

.rss-item a {
	font-size: 26px !important;
	font-weight: 600 !important;
}
